<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<system.web>
    <roleManager enabled="true" cacheRolesInCookie="true"/>
    <httpRuntime maxRequestLength="4294967" targetFramework="4.5" executionTimeout="3600" enableKernelOutputCache="false"/>
  </system.web>-->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="true" startupTimeLimit="3600" forwardWindowsAuthToken="true" requestTimeout="01:00:00" />
  </system.webServer>
</configuration>